
* {
    box-sizing: border-box;
}

    /* mobile first design  */
[class*="col-"] {
    width: 100%;
  }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    
    font-size: 18px;
    margin:0;
    padding:0;
    align-items: center;
    width: 100%;

}

.main {

    height: 538px;
    width: 100%;
    background-image: url(images/mobile/image-header.jpg);
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color: white;
    padding: 4.5% 3% 0 3%;

}

.brand-title-container {

    padding-top:3%;

}

.brand-title {

    width: 123.64px;
    height: 24px;


}

.down-arrow {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 107.48px;
    padding-top:130px;

}

.navbar-links ul {

    margin:0;
    padding:0;
    display: flex;

}

.navbar-links li {

    list-style: none;

}

.navbar-links li a {

    text-decoration: none;
    padding: 1rem;
    display: block;
    height: 25px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
    text-transform:none;

}

h1 {

    height: 98px;
    width: 100%;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;   
    padding-top: 88px;

}

img {

    width: 100%;
    height: auto;

}

.desktop-image {

    display: none;

}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: auto;
    justify-content: space-evenly;
    padding: 10% 16%;
    align-items: center;

}

h2 {

    width: 100%;
    height: 78px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.228571px;
    color: #24303E;
    text-align: center;
        
}

h3 {

    text-align: center;
    width: 100%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #052C3B;
    mix-blend-mode: normal;
    opacity: 0.75;
    padding: 0 0 27px 0;
    margin: 0;

}

.pic-p {

    padding:0;
    margin:0;

}

p {

    width: 100%;
    height: 150px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;

}

a {

    text-align: center;
    height: 25px;
    width: 100%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
    text-decoration: none;
    

}

.yellow-line { 

    position:relative;
    bottom: 11px;
    height: 10px;
    width: 137px;
    background: #FAD400;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;

}

.pink-line {
    
    position:relative;
    bottom: 11px;
    height: 10px;
    width: 137px;
    background: #FE7766;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;

}

/* Graphic & Photography container */
.cherry-container {

    background-image: url(images/mobile/image-graphic-design.jpg);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-size: contain;
    justify-content: flex-end;
    flex-direction: column;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.orange-container {

    background-image: url(images/mobile/image-photography.jpg);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-size: contain;
    justify-content: flex-end;
    flex-direction: column;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.pic-content {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 143px;
    padding: 0 24px 140px 24px;
    margin: 0;

}

/* Testimonial start */

.client-testimonials {

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:8%;
    margin: 0;
    width: 100%;
    height: auto;

}

h4 {

    position: relative;
    width: 100%;
    text-align: center;
    height: 20px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    color: #A7AAAD;
    margin: 0;
    padding-bottom: 15%;

}

.testimonial-container {

    height: auto;
    width:100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.testimonial-pic {

    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin: 0 0 32px 0;

}

.testimonial-p {

    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
    margin:0;
    padding:0 10% 0 10%;

}

h5 {

    width: 100%;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
    margin:0;
    padding:0 0 9px 0;
}

h6 {

    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
    margin:0;
    padding:0 0 64px 0;

}

/* Testimonial end */

/* Gallery start */

.gallery-container {

    display: grid;
    width: 100%;
    height:auto;
    grid-template-columns: auto auto;
    grid-row-gap:0px;

}

.gallery-img-container {

    display: flex;
    width: 100%;
    height: auto;
    margin:0;
    padding:0;

}

.gallery-img {

    height: auto;
    width:100%;

}

.gallery-img-desktop {

    display: none;

}
/* Gallery end */

/* Footer start */
footer {

    background-color: #90D4C6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10% 5% 10% 5%;


}

.footer-container {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo-container {

    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}

.logo {

    display: block;
    margin: auto;

}

.footer-about-div {

display: flex;
justify-content: space-between;
width: 100%;
height: auto;
padding: 0 10% 0 10%;

}

.footer-links {

    display: flex;
    text-decoration: none;
    height: 25px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    padding-top:4%;
    text-transform: none;
    justify-content: center;

}

.contact {

    display: flex;
    width:100%;
    height: auto;
    padding: 20% 30% 0% 30%;
    justify-content: space-between;
    align-content: center;
    

}

svg {

    fill:#2C7566;

}

.attribution { 

    position: relative;
    top:25px;
    font-size: 10px; 
    text-align: center; 

         }

.attribution a {
    
    font-size: 10px;
    color: hsl(228, 45%, 44%); 
}

/* Footer end */



.toggle-button {

    position: absolute;
    top: 35px;
    right: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;

}

.toggle-button .bar {

    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

/* Responsive navbar */
@media only screen and  (max-width: 600px){
    
    .toggle-button {

        display: flex;

    }

    .toggle-button.active {

        opacity: 0.5;

    }

    .navbar {

        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links {

        display: none;
        width: 100%;
        justify-content: center;

    }

    .navbar-links ul {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
        height: 329px;
        top: 82px;
        background-color: white;
        box-shadow: 2px;
        z-index: 1;
        border-top: 1rem solid #3ebfff;
        border-right: 1rem solid white;
        margin-top: 20px;
    
    }

    /*  */

    .navbar-links li a {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 140px;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.142857px;
        color: #808397;
        padding:0;
        border-radius: 30px;
       
    }

    .navbar-links li a.active {

        font-family: "Fraunces";
        font-weight: bold;
        font-size: 15px;
        letter-spacing: -0.107143px;
        text-transform: uppercase;
        color: #24303E;
        background-color: #FBD600
  
            }


    .navbar-links.active {

        display: flex;
        
    }

}

  @media only screen and (min-width: 768px) {
    /* For desktop:  */

    .main {

        height: 800px;
        background-image: url(images/desktop/image-header.jpg);

    }

    .navbar {

        padding: 1.5% 2% 0 2%;

    }

    .brand-title-container {

        padding-top:1%;
    
    }

    .brand-title {

        width: 170px;
        height: 33px;


    }

    .navbar-links li a {

        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 28px;
        height: 56px;
        width: 140px;
       
    }

    .navbar-links li a.active {

        font-family: "Fraunces";
        font-weight: bold;
        font-size: 15px;
        letter-spacing: -0.107143px;
        text-transform: uppercase;
        color: #24303E;
        background-color: white;
  
            }


    .navbar-links li:hover{
        
        background-color:rgb(255, 255, 255, 0.25);
        border-radius: 28px;
                
}


h1 {

    height: 69px;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;

}

.down-arrow {

    padding-top: 140px;

}

.row {

    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    height: auto;

}

.row-2 {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction:row; 

}

.row-3{

    height: auto;
    width: 100%;
    display: flex;
    flex-direction:row;

}

.mobile-image {

    display: none;

}

.desktop-image {

    display: flex;
    width: 100%;


}

.container {

    padding: 10% 10% 0 9%;
    justify-content: flex-start;
    align-items: flex-start;

}

h2 {

    text-align: start;
    margin: 0;

}

p {

    text-align: start;

}

a {

    text-align: start;
    padding-left:10px;

}

.cherry-container {

    height: 600px;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    align-items: center;
 

}

.orange-container {

    height: 600px;
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    align-items: center;
    
}

.pic-content {

    width: 65%;

}

.pic-p {

    text-align: center;

}

/* Desktop Testimonials desktop start */

.row-4 {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction:row;

}

h4 {
  
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
    padding-bottom: 5%;

}

/* Desktop testimonial end */

.row-5 {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction:row;


}

.gallery-img-desktop {

    display: flex;
    height: auto;
    width: 100%;

}

.gallery-img {

    display: none;

}

/* Desktop footer start */


footer {

    padding:5% 40% 5% 40%;

}


.footer-h6 {

    height: 33px;
    font-size: 33px;

}

.footer-about-div {

padding: 0 10% 0 10%;

}

.footer-links {

    height: 25px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    padding-top:0;
    margin-top: 4%;

}

.footer-links:hover {

    color: white;

}

.contact {

    padding: 20% 25% 0% 25%;
    
}

svg:hover {

    fill: #FFFFFF;
   
}


.attribution { 

    top:50px;

         }


/*Desktop Footer end */

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 

  }
